arrow==0.8.0
colorlover==0.2.1
cufflinks==0.8.2
Flask==0.11.1
jupyter==1.0.0
lightning-python==1.2.1
matplotlib==1.5.1
numpy==1.11.1
pandas==0.18.1
plotly==1.12.4
pymongo==3.2.2
scipy==0.17.1
seaborn==0.7.1
