{% extends "base.html" %}
{% block title %}Gabriel hoveside{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Gabriel hovedside</h1>

    Gabriel er en CTD som logger data om temperatur, salt, mm. i Store Lungegårdsvannet.

    For å komme fort i gang anbefaler vi så se på <a href="http://146.185.167.10/allgraphs">grafene</a>.
    Grafene gir deg anledning til å zoome inn og vise detaljer. Oppløsningen på dataene er hver 3 time!

    Videre er det mulig å laste ned data fra server til programmer du kan kan kjøre selv.
    Disse programmene ligger på <a href="https://github.com/njberland/SkramDykk/tree/master/notebooks">Skramdykk notebooks</a>.
    Programmene vil selv hente data fra denne serveren.


    <h2>Grafer</h2>

    <a href="http://146.185.167.10/allgraphs">Grafer</a>

    <h2>Data for nedlastning</h2>

    <a href="http://146.185.167.10/dives">Rådata</a>
    <a href="http://146.185.167.10/dives">Interpolerte</a>
    <a href="http://146.185.167.10/dives">Resampled</a>

    <h2>Stats</h2>

    <a href="http://146.185.167.10/stats">Stats</a>


    <h2>Lenker</h2>

    All kode ligger på <a href="https://github.com/njberland/SkramDykk">GitHub</a>

    <h2>3D Plot av temperatur vs  dybde og tid </h2>
    
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~njberland/54.embed"></iframe>
    

{% endblock %}
